# DB 관련 정보

# mysql
DB_ENGINE=mysql
DB_HOST=mysql-....-dbstore.b.aivencloud.com
DB_PORT=....
DB_NAME=spring-jdbc
DB_USERNAME=avnadmin
DB_PASSWORD=AVNS_PG_....
DB_DRIVER_CLASS_NAME=com.mysql.cj.jdbc.Driver

# postgres
DB_ENGINE=postgresql
DB_HOST=ep-....-pooler.c-3.ap-southeast-1.aws.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USERNAME=neondb_owner
DB_PASSWORD=npg_....
DB_DRIVER_CLASS_NAME=org.postgresql.Driver